$main-color: black;
$sub-color: grey;
$label-color: #f7aa1b;

@mixin shrinkLabel {
  top: 0%;
  left: 70%;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: $label-color;
}

.input-group {
  position: relative;
  margin: 0.8rem 0 0;
  // width: 1rem;
  // min-width: 70%;
  // max-width: 70rem;
  padding-top: 1.5rem;
  // overflow-x: hidden;

  .form-input {
    background: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px $sub-color solid;
    width: 100%;
    height: auto;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    margin-bottom: 0.5rem;
    color: black;

    &:focus {
      outline: none;

      & ~ .label {
        @include shrinkLabel();
      }
    }
  }

  input[type="password"] {
    letter-spacing: 0.3rem;
  }

  .label {
    position: absolute;
    top: 25px;
    left: 3px;
    color: $sub-color;
    font-size: 12px;
    pointer-events: none;
    transition: 0.33s all ease-in;

    &.shrink {
      @include shrinkLabel();
    }
  }

  .error {
    position: relative;
    width: 100%;
    color: red;
  }
}

@media screen and (max-width: 650px) {
  .input-group {
    max-width: 56rem;
  }
}
