$main-color: black;
$sub-color: grey;
$label-color: #f7aa1b;

@mixin shrinkLabel {
  visibility: hidden;
}
@mixin noShrinkLabel {
   visibility: visible; 
  //  top: 23px;
  //  left: 15%;
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   color: $label-color;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 0.8rem 0 0;
  // padding-top: 1.5rem;
  &.intro{
    align-self: flex-start;
  }

  .form-input-title{
    margin-bottom: 1rem;

    &.radio{
      margin-bottom: 2rem;
    }
  }

  .form-input {
    position: relative;
    background: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px $sub-color solid;
    width: 100%;
    height: auto;
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    margin-bottom: 0.5rem;
    color: black;

    &.radio{
      justify-self: flex-start;
      width: auto;
    }
    &:focus {
      outline: none;

      & ~ .label {
        @include shrinkLabel();
      }
      & ~ .label.noShrink {
        @include noShrinkLabel();
      }
    }
  }

  input[type="password"] {
    letter-spacing: 0.3rem;
  }

  .label {
    position: relative;
    top: -35px;
    left: 3px;
    color: $sub-color;
    font-size: 12px;
    pointer-events: none;
    transition: 0.33s all ease-in;

    &.shrink {
      @include shrinkLabel();
    }
    &.noShrink {
      color: $main-color;
      top: -22px;
      left: 15%;
      font-size: 12px;
          //  @include noShrinkLabel();
      }
  }

  .error {
    position: relative;
    width: 100%;
    color: red;
  }
}

// @media screen and (max-width: 650px) {
//   .input-group {
//     max-width: 56rem;
//   }
// }
