.SurveyApp {
  padding: 1.5rem;
  // height: 100%;
}

.formpage {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
  width: 100%;
  // max-width: ;
  max-width: 40rem;
  background-color: whitesmoke;
  border-radius: 2.5%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.19);

 
  .form-title {
    align-self: flex-start;
    position: relative;
     &::before{
    content: "";
    position: absolute;
    bottom: -5%;
    width: 100%;
    height: 0.2rem;
    background-color: yellow;
    border-radius: 2.5%;
  }
  }
  .form {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 95%;
    list-style-type: none;
    // max-width: 20rem;
    .custom-button {
      margin-top: 2rem;
      height: 40px;
    }
  }
  .custom-button {
      margin-top: 2rem;
      align-self: flex-start;
    }
}

@media screen and (min-width: 375px) {
  .formpage {
    // width: 80%;
    .input-group{
      width: 16rem;
    }
  }
}
@media screen and (min-width: 424px) {
  .formpage {
    width: 89%;
    .input-group{
      width: 16rem;
    }
  }
}
@media screen and (min-width: 525px) {
  .formpage {
    width: 60%;
     .input-group{
      width: 23rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .formpage {
    width: 40%;
     .input-group{
      width: 20rem;
    }
  }
}
