.SurveyApp {
  padding: 1.5rem;
  // height: 100%;
}

.formpage {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
 overflow-x: hidden; 
  align-items: center;
  width: 100%;
  // max-width: ;
  max-width: 40rem;
  background-color: whitesmoke;
  border-radius: 2.5%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.19);
 &::before{
    content: "";
    position: absolute;
    top: 0%;
    left: -6.5%;
    width: 116.5%;
    height: 0.8rem;
    background-color: yellow;
  }
  
 
  .form-title {
    // align-self: center;
    position: relative;
    margin: 1rem 0;
  }
  .form {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    list-style-type: none;
    // max-width: 20rem;
    .custom-button {
      margin-top: 2rem;
      height: 40px;
      width: 240px;
    }
  }
  .custom-button {
      margin-top: 2rem;
      align-self: flex-start;
    }
}

@media screen and (min-width: 375px) {
  .formpage {
    .form{
     .custom-button {
      width: 290px;
    }
    }
  }
}
@media screen and (min-width: 424px) {
  .formpage {
    width: 89%;
       .form{
     .custom-button {
      width: 300px;
    }
    }
  }
}
@media screen and (min-width: 525px) {
  .formpage {
    width: 60%;
      .form{
     .custom-button {
      width: 400px;
    }
    }
  }
}
@media screen and (min-width: 1024px) {
  .formpage {
    width: 60%;
       .form{
     .custom-button {
      width: 550px;
    }
    }
  }
}
